.wy-nav-content {
max-width: 1200px !important;
}

.wy-side-nav-search img {
  width: 200px !important;
}

.wy-side-nav-search {
  background-color: #404040 !important;
}
.wy-alert.wy-alert-success .wy-alert-title, .rst-content .wy-alert-success.note .wy-alert-title,
.rst-content .wy-alert-success.attention .wy-alert-title, .rst-content .wy-alert-success.caution .wy-alert-title,
.rst-content .wy-alert-success.danger .wy-alert-title, .rst-content .wy-alert-success.error .wy-alert-title,
.rst-content .hint .wy-alert-title, .rst-content .important .wy-alert-title,
.rst-content .tip .wy-alert-title, .rst-content .wy-alert-success.warning .wy-alert-title,
.rst-content .wy-alert-success.seealso .wy-alert-title, .rst-content .wy-alert-success.admonition-todo .wy-alert-title,
.wy-alert.wy-alert-success .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-success .admonition-title,
.rst-content .wy-alert-success.note .admonition-title, .rst-content .wy-alert-success.attention .admonition-title,
.rst-content .wy-alert-success.caution .admonition-title, .rst-content .wy-alert-success.danger .admonition-title,
.rst-content .wy-alert-success.error .admonition-title, .rst-content .hint .admonition-title,
.rst-content .important .admonition-title, .rst-content .tip .admonition-title,
.rst-content .wy-alert-success.warning .admonition-title, .rst-content .wy-alert-success.seealso .admonition-title,
.rst-content .wy-alert-success.admonition-todo .admonition-title {
    background: #f26f61
}
.wy-alert.wy-alert-success, .rst-content .wy-alert-success.note,
.rst-content .wy-alert-success.attention, .rst-content .wy-alert-success.caution,
.rst-content .wy-alert-success.danger, .rst-content .wy-alert-success.error,
.rst-content .hint, .rst-content .important, .rst-content .tip, .rst-content .wy-alert-success.warning,
.rst-content .wy-alert-success.seealso, .rst-content .wy-alert-success.admonition-todo {
    background: rgba(236, 5, 15, 0.06)
}
