_build/
build/
.gradle
.DS_Store
README.md
provisioning/automation/scale_thresholds.rst
integration_guides/Security/security.rst
integration_guides/Clouds/xen.rst
integration_guides/Clouds/vmware.rst
integration_guides/Clouds/vclouddirector.rst
integration_guides/Clouds/openstack.rst
integration_guides/Clouds/google.rst
integration_guides/Clouds/azure.rst
integration_guides/Clouds/alibabaCloud.rst
integration_guides/Automation/arm.rst
infrastructure/policies.rst
