sphinx_markdown_tables
https://github.com/djungelorm/sphinx-tabs/releases/download/v1.1.11/sphinx-tabs-1.1.11.tar.gz
sphinx_search.extension
https://files.pythonhosted.org/packages/a7/60/072daa896b54b1e67c55e6f0d4347cf1afd58cc6cbc410705d850dd5189c/readthedocs-sphinx-ext-1.0.3.tar.gz
