sphinx_markdown_tables
https://github.com/djungelorm/sphinx-tabs/releases/download/v1.1.11/sphinx-tabs-1.1.11.tar.gz
sphinx_search.extension
https://files.pythonhosted.org/packages/e8/2d/84511487962d47026c7ac15e58a4db7c2671c93775a68084579db3b720c4/readthedocs_sphinx_ext-1.0.3-py2.py3-none-any.whl
