/* HPE app footer — slim copyright bar. Mirrors the header's white band +
   hairline border (hpe-header.css). The provided snippet used DESIGN.md
   --hpe-color-* tokens; mapped to this stack: front surface #fff, default
   border #d4d8db, weak text via immaterial's --md-default-fg-color--light.
   Overrides the theme's dark .md-footer background/color. */
.app-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  padding: 0 21px;
  font-size: 12px;
  background: #ffffff;
  border-top: 1px solid #d4d8db;
  color: var(--md-default-fg-color--light);
}
