.wy-nav-content {
max-width: 1500px !important;
}

.wy-side-nav-search img {
  width: 200px !important;
}

.wy-side-nav-search {
  background-color: #404040 !important;
}
.wy-alert.wy-alert-success .wy-alert-title, .rst-content .wy-alert-success.note .wy-alert-title,
.rst-content .wy-alert-success.attention .wy-alert-title, .rst-content .wy-alert-success.caution .wy-alert-title,
.rst-content .wy-alert-success.danger .wy-alert-title, .rst-content .wy-alert-success.error .wy-alert-title,
.rst-content .hint .wy-alert-title, .rst-content .important .wy-alert-title,
.rst-content .tip .wy-alert-title, .rst-content .wy-alert-success.warning .wy-alert-title,
.rst-content .wy-alert-success.seealso .wy-alert-title, .rst-content .wy-alert-success.admonition-todo .wy-alert-title,
.wy-alert.wy-alert-success .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-success .admonition-title,
.rst-content .wy-alert-success.note .admonition-title, .rst-content .wy-alert-success.attention .admonition-title,
.rst-content .wy-alert-success.caution .admonition-title, .rst-content .wy-alert-success.danger .admonition-title,
.rst-content .wy-alert-success.error .admonition-title, .rst-content .hint .admonition-title,
.rst-content .important .admonition-title, .rst-content .tip .admonition-title,
.rst-content .wy-alert-success.warning .admonition-title, .rst-content .wy-alert-success.seealso .admonition-title,
.rst-content .wy-alert-success.admonition-todo .admonition-title {
    background: #f26f61
}
.wy-alert.wy-alert-success, .rst-content .wy-alert-success.note,
.rst-content .wy-alert-success.attention, .rst-content .wy-alert-success.caution,
.rst-content .wy-alert-success.danger, .rst-content .wy-alert-success.error,
.rst-content .hint, .rst-content .important, .rst-content .tip, .rst-content .wy-alert-success.warning,
.rst-content .wy-alert-success.seealso, .rst-content .wy-alert-success.admonition-todo {
    background: rgba(236, 5, 15, 0.06)
}

.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
    color: #fcfcfc;
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
    padding: 1px 1px;
    margin-bottom: .001em
}

.wy-side-nav-search>div.version {
    color: #ececec;
}

@media screen and (min-width: 1400px) {
    .wy-nav-content-wrap {
        background: #272525;
    }

.fa-book {
  visibility: hidden;
}

.fa-book:before, .icon-book:before {
    font-family: inherit;
    font-weight: bold;
    content: "Morpheus Version:";
    visibility: visible;
}

.rst-content pre.literal-block div[class^='highlight'], .rst-content div[class^='highlight'] div[class^='highlight'] {
    border-radius: 5px !important;
}

.codeblock, pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block,
div[class^='highlight'] {
    border: 1px solid #e1e4e5;
    padding: 0px;
    overflow-x: auto;
    background: #404040;
    margin: 1px 0 24px 0;
}

div[class^='highlight'] pre {
    white-space: pre;
    margin: 0;
    padding: 12px 12px;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 1.5;
    display: block;
    overflow: auto;
    color: #ffffff
}

/*guilabel button styling */

.rst-content .guilabel {
    border-color: #63bcdc;
    background: #78c5e1;
    font-weight: normal;
    color: #fff;
    font-size: 80%;
    /* font-weight: 700; */
    border-radius: 4px;
    padding: 2px 12px;
    /* line-height: 1.428571429; */
    margin: auto 1px;
}

.c {
    color: #998;
    font-style: italic
}

div.rst-other-versions div.injected dl + dl + dl {
display: none;
}

.err {
    color: #a61717;
    background-color: #e3d2d2
}

.k {
    font-weight: bold
}

.o {
    font-weight: bold
}

.cm {
    color: #998;
    font-style: italic
}

.cp {
    color: #999;
    font-weight: bold
}

.cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}

.gd {
    color: #000;
    background-color: #fdd
}

.gd .x {
    color: #000;
    background-color: #faa
}


.wy-table-responsive table td,.wy-table-responsive table th {
    white-space: normal !important
}

.wy-nav-top {
    background: #404040 !important
}

h2 {
    border-bottom: 2px solid #777777;
}

/* Tip Box Styling */

/* Tip Box Top */

.admonition.tip .first{
  background-color:#818286 !important
}

/* Tip box bottom */
.admonition.tip {
    background-color: #81828629;
}
